<p>template-form works!</p>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" >

    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" name="nome" id="nome"  placeholder="Nome" ngModel>
      <div id="nameHelp" class="form-text">Insira seu nome completo. </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="nome@email.com" ngModel>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>