
<br>

<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group" >

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="nome" id="nome"  placeholder="Nome" [ngClass]="aplicaCssErro('nome')">
            
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>     
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com" [ngClass]="aplicaCssErro('email')"> 
           
        </div>

        <div formGroupName="endereco">
            <div class="form-group">

                <div class="row">

                    <div class="col-sm-3">
                        <label for="cep" class="control-label">CEP</label>
                        <input type="text" class="form-control" id="cep" placeholder="12345-678"   [ngClass]="aplicaCssErro('endereco.cep')" formControlName="cep" (blur)="consultaCEP()"> 
                    </div>
            
                    <div class="col-sm-3">
                        <label for="numero" class="control-label">Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="123" [ngClass]="aplicaCssErro('endereco.numero')" formControlName="numero">
                    </div>
                        
                    <div class="col-sm-6">
                        <label for="complemento" class="control-label">Complemento</label>
                        <input type="text" class="form-control" id="complemento" [ngClass]="aplicaCssErro('endereco.complemento')" formControlName="complemento"> 
                    </div>
            
                </div>
            </div>


            <div class="form-group" >
                <div class="row">
            
                    <div class="col-md-5">

                        <label for="rua" class="control-label">Rua</label>
                        <input type="text" class="form-control" id="rua" [ngClass]="aplicaCssErro('endereco.rua')" formControlName="rua" readonly>
                            
                    </div>
                
            
                    <div class="col-md-3">
                        
                        <label for="bairro" class="control-label">Bairro</label>
                        <input type="text" class="form-control" id="bairro" [ngClass]="aplicaCssErro('endereco.bairro')" formControlName="bairro" readonly>

                    </div>
                
                    <div class="col-md-2">
                        
                        <label for="cidade" class="control-label">Cidade</label>
                        <input type="text" class="form-control" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" formControlName="cidade" readonly>
                    </div>
                
                    <div class="col-md-2" >
                        
                        <label for="estado" class="control-label" >Estado</label>
                        <select class="form-control" id="estado" formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')">
                            
                            <option *ngFor="let estado of estados | async" [value]="estado.sigla"> {{ estado.nome }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-2" >
                        
            <label for="cargo" class="control-label" >Cargo</label>
            <select class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
                
                <option *ngFor="let cargo of cargos" [ngValue]="cargo"> {{ cargo.desc }}</option>
            </select>
        </div>

    </div>

    <br> 
    <button type="submit" class="btn btn-primary" >Submit</button>
    <button class="btn" (click)="resetar()">Cancelar</button>
    <button class="btn" (click)="setarCargo()">Cargo</button>
    
    <app-form-debug [form]="formulario"></app-form-debug>
</form>